<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="camera_link0">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.04 0.02 0.02"/></geometry>
      <material name="white"/>
    </visual>
  </link>
  <joint name="depth_camera" type="fixed">
    <origin xyz="0.057373 7.9091E-05 0.091864" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link0"/>
  </joint>
</robot>